---
import { Icon } from 'astro-icon'
---

<!-- https://icon-sets.iconify.design/logos/ -->

<section class="section is-medium">
    <div class="">
        <div class="box red center">
            <div class="columns">
              <div class="column is-one-third">
                <figure class="image is-fullwidth">
                    <img src="head.jpg" alt="headshot">
                </figure>
              </div>
              <div class="column is-two-third">
                <div class="content is-medium">
                  <h1 class="title is-1">Remus Wong</h1>
                  <br>
                  A graduate of the University of Texas, Remus Wong studied Computer Science 
                  with a focus on computer graphics. With his highly technical background, he 
                  is a Technical Artist focused on engineering powerful tools to support effective 
                  art pipelines. Utilizing game development and programming skills, Remus is interested 
                  in creating procedurally generated environments, dynamic visual effects, and more 
                  to craft immersive experiences.
                </div>
                <div class="block">
                  <a href="Resume.pdf">
                    <button class="button is-primary is-medium">Resume</button>
                  </a>
                </div>
                <div>
                  <a class="button" href="mailto:rwong2100@gmail.com">
                    <span class="icon">
                      <Icon name="codicon:mail"></Icon>
                    </span>
                  </a>
                  <a class="button" href="https://github.com/RemusW">
                    <span class="icon">
                      <Icon name="logos:github-icon"></Icon>
                    </span>
                  </a>
                  <a class="button" href="https://www.linkedin.com/in/remus-wong/">
                    <span class="icon">
                      <Icon name="logos:linkedin-icon"></Icon>
                    </span>
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>

</section>

<style>
    .center{
        margin: auto;
        width: 70%;
        max-height: 700px;
        border: 3px solid green;
        padding: 10px;
    }

    .card {
        background-color: blueviolet;
    }

    .card-image {
        height: 5ch;
    }

    .parent {
      border: 1px solid;
      width: 30vh;
      height: 40vh;
      overflow: hidden;
      display: flex;
    }

    .green {
      background-color: #92d82e;
    }

    .red {
      background-color: #f52668;
    }

    .container{
      height: flex;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      background-color: #f52668;
    }

    .summary {
      vertical-align: middle;
    }

    .image {
      max-width: inherit;
      max-height: 400px;
      height: inherit;
      width: inherit;
      object-fit: cover;
      /* position: relative; */
    }
</style>