---
import { Icon } from 'astro-icon'
---

<!-- https://icon-sets.iconify.design/logos/ -->

<section class="section is-medium">
    <div class="center">
        <div class="content box container">
            <div class="container">
              <figure class="image">
                  <img src="head.jpg" alt="headshot">
              </figure>
              <div class="block">
                <div class="block">
                  <h1 class="title-1">Remus Wong</h1>
                  <br>
                  A graduate of the University of Texas, Remus Wong studied Computer Science 
                  with a focus on computer graphics. With his highly technical background, he 
                  is a Technical Artist focused on engineering powerful tools to support effective 
                  art pipelines. Utilizing game development and programming skills, Remus is interested 
                  in creating procedurally generated environments, dynamic visual effects, and more 
                  to craft immersive experiences.
                </div>
                <a href="Resume.pdf">
                  <button class="button is-warning is-medium">Resume</button>
                </a>
                <div>
                  <a class="button" href="https://github.com/RemusW">
                    <span class="icon">
                      <Icon name="logos:github-icon"></Icon>
                    </span>
                  </a>
                  <a class="button" href="https://www.linkedin.com/in/remus-wong/">
                    <span class="icon">
                      <Icon name="logos:linkedin-icon"></Icon>
                    </span>
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>

</section>

<style>
    .center{
        margin: auto;
        width: 70%;
        border: 3px solid green;
        padding: 10px;
    }

    .card {
        background-color: blueviolet;
    }

    .card-image {
        height: 5ch;
    }

    .parent {
      border: 1px solid;
      width: 30vh;
      height: 40vh;
      overflow: hidden;
      display: flex;
    }

    .container{
      height: 500px;
      display: flex;
      flex-direction: row;
      align-items: flex-start
    }

    .summary {
      vertical-align: middle;
    }

    .image {
      max-width: inherit;
      max-height: inherit;
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
</style>