---
import { Icon } from 'astro-icon'
---

<!-- https://icon-sets.iconify.design/logos/ -->

<section class="section">
    <!-- <div class=""> -->
        <div class="box red">
            <div class="columns">
              <div class="column is-one-third center-image">
                <figure class="image is-fullwidth">
                    <img src="head.jpg" alt="headshot">
                </figure>
              </div>
              <div class="column is-two-third">
                <div class="content">
                  <p class="title is-1 bio">Remus Wong</p>
                  <span class="bio">
                    A graduate of the University of Texas, Remus Wong studied Computer Science 
                    with a focus on computer graphics. With a highly technical background, he 
                    is a software engineer focused on creating powerful tools to support effective 
                    pipelines. Utilizing computer graphics and programming knowledge, Remus is passionate 
                    about the intersection between real-world problems and crafting models and simulations to
                    gain a deeper understanding of processes and realize their solutions.
                  </span>
                </div>
                <div class="block">
                  <a href="Resume.pdf">
                    <button class="button sub-orange is-medium">Resume PDF</button>
                  </a>
                </div>
                <div>
                  <a class="button" href="mailto:rwong2100@gmail.com">
                    <span class="icon">
                      <Icon name="codicon:mail"></Icon>
                    </span>
                  </a>
                  <a class="button" href="https://github.com/RemusW">
                    <span class="icon">
                      <Icon name="logos:github-icon"></Icon>
                    </span>
                  </a>
                  <a class="button" href="https://www.linkedin.com/in/remus-wong/">
                    <span class="icon">
                      <Icon name="logos:linkedin-icon"></Icon>
                    </span>
                  </a>
                </div>
              </div>
            </div>
        </div>
    <!-- </div> -->

</section>

<style>
    .sub-orange {
      background-color: #fd8e3a;
      border: none;
    }

    .card {
        background-color: blueviolet;
    }

    .card-image {
        height: 5ch;
    }

    .parent {
      border: 1px solid;
      width: 30vh;
      height: 40vh;
      overflow: hidden;
      display: flex;
    }

    .content {
      color: whitesmoke;
    }

    .green {
      background-color: #92d82e;
    }

    .red {
      background-color: #e7266a;
      width: 85%;
      /* max-height: ; */
      margin: auto;
    }

    .container{
      height: flex;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      background-color: #f52668;
    }

    .bio {
      font-size: 20px;
      color: whitesmoke;

      /* font-size: 1vw; */
    }

    .center-image {
      max-width: inherit;
      max-height: inherit;
      /* max-height: 400px; */
      height: inherit;
      width: inherit;
      margin: auto;
      /* object-fit: cover; */
      /* position: relative; */
    }
</style>