---
import { Icon } from 'astro-icon'
import Skill from '../components/Skill.astro'
---

<div class="section">
    <div class="box columns">
        <div class="column is-4 center">
            <figure class="main main1 center">
                <Icon name="entypo:code"></Icon>
            </figure>
            <h1 class="center">Programming</h1>          
        </div>
        <div class="column is-8 skills">
            <Skill title="C++" imgsrc="icon/cpp.jpg" level="pro" percent="100" />
            <Skill title="Python" imgsrc="icon/python.jpg" level="pro" percent="100" />
            <Skill title="C#" imgsrc="icon/csharp.jpg" level="high" percent="75" />
            <Skill title="Java" imgsrc="icon/java.jpg" level="high" percent="75" />
            <Skill title="Javascript" imgsrc="icon/javascript.jpg" level="mid" percent="50" />
            <Skill title="Rust" imgsrc="icon/rust.jpg" level="mid" percent="50" />
        </div>
    </div>
    <br>
    <div class="box columns">
        <div class="column is-4 center">
            <figure class="main main2 center">
                <Icon name="entypo:tools"></Icon>
            </figure>
            <h1 class="center">Tools</h1>
        </div>
        <div class="column is-8 skills">
            <Skill title="Git" imgsrc="icon/git.jpg" level="pro" percent="100" />
            <Skill title="Qt" imgsrc="icon/qt.jpg" level="high" percent="75" />
            <Skill title="PostgreSQL" imgsrc="icon/postgresql.jpg" level="high" percent="75" />
            <Skill title="React" imgsrc="icon/react.jpg" level="mid" percent="50" />
            <Skill title="Docker" imgsrc="icon/docker.jpg" level="low" percent="25" />
            <Skill title="OpenGL" imgsrc="icon/opengl.jpg" level="low" percent="25" />
        </div>
    </div>
    <br>
    <div class="box columns">
        <div class="column is-4 center">
            <figure class="main main3 center">
                <Icon name="entypo:pencil"></Icon>
            </figure>
            <h1 class="center">Development</h1>
        </div>
        <div class="column is-8 skills">
            <Skill title="Unity" imgsrc="icon/unity.jpg" level="pro" percent="100" />
            <Skill title="Unreal Engine" imgsrc="icon/unreal.jpg" level="pro" percent="100" />
            <Skill title="Houdini" imgsrc="icon/houdini.jpg" level="high" percent="75" />
            <Skill title="Blender" imgsrc="icon/blender.jpg" level="mid" percent="50" />
            <Skill title="Virtual Reality" imgsrc="icon/vr.jpg" level="mid" percent="50" />
            <Skill title="Hololens" imgsrc="icon/hololens.jpg" level="low" percent="25" />
        </div>
    </div>
</div>

<style>
    
    h1 {
        color: white;
        font-size: 30px;
    }

    .picture {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .box {
        background-color: #272822;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .skills {
        /* display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, 120px); */
        justify-content: center;
        align-items: center;

        display: flex;
        flex-wrap: wrap;
    }

    .main {
        width: 160px;
        height: 160px;
        padding: 30px;
        border-radius: 90%;
    }
    
    .main1 {
        background-color: #ae81ff;
    }

    .main2 {
        background-color: #61cce0;
    }

    .main3 {
        background-color: #a6e22e;
    }

    .icon {
        width: 90%;
    }

    .center {
        /* display: flex; */
        justify-content: center;
        align-content: center;
        margin: auto;
        text-align: center;
    }
</style>