---
import { Icon } from 'astro-icon'
import Skill from '../components/Skill.astro'
---

<div class="section">
    <div class="box columns">
        <div class="column is-one-quarter">
            <figure class="main center">
                <Icon name="entypo:code"></Icon>
            </figure>
            <h1 class="center">Programming</h1>          
        </div>
            <Skill title="Python" imgsrc="logos:python" />
            <Skill title="C++" imgsrc="logos:c-plusplus" />
            <Skill title="Rust" imgsrc="logos:rust"/>
            <Skill title="Rust" imgsrc="logos:opengl"/>
    </div>
</div>

<style>
    h1 {
        color: white;
        font-size: 40px;
    }

    .box {
        background-color: #272822;
    }

    .main {
        width: 256px;
        height: 256px;
        border-radius: 90%;
        background-color: paleturquoise;
    }

    .icon {
        width: 90%;
    }

    .center {
        margin: auto;
        text-align: center;
    }
</style>